menu "volc_rtc Project Configuration"
    config VOLC_RTC_DEMO_ENABLE
        bool "Enable volc_rtc demo"
        default n

    config HTTP_REQUEST_AGENT
        bool "Start agent by http request"
        default n

	config ENABLE_AGORA_DATASTREAM
		bool "Enable Agora Data Stream"
		default n

	config BK_AGORA_DEV_STARTUP_AGENT
                bool "Enable start agent on device"
                default n
				
    config HARDWARE_SPEAKER_VER
        int "select HARDWARE_SPEAKER_VER"
        range 0 8
        default 0
endmenu
